body{
	background-color: rgb(10, 10, 10);
	color:	#DAA520;
}
h2{
	text-align: center;
	font-style: italic;
	margin:0;
}
h4{
	text-align: center;
	font-style: bold;
}
#here{
	text-align: center;
	font-style: italic;
	margin-bottom: 5%;
	font-size: 50px;
}
#chat {
  	height: 300px;
	width:40%;
	border-style:solid;
	border-color:#DAA520;
	color:#DAA520;
	border-width:1px;
	float: left;
	margin-right: 15%; 
	margin-left: 10%; 
}
#users {
	height: 160px;
	width:20%;
	border-style:solid; 
	border-color:#DAA520;
	border-width:1px;
	float: left;
}
#rooms {
	height: 200px;
	width:20%;
	margin-top:1%;
	border-style:solid; 
	border-color:#DAA520;
	border-width:1px;
	float: left;
}
#logout{
	background-color:rgb(10, 10, 10);
	color:#DAA520;
	border-color:#DAA520;
	width:10%;
}
#createRoom{
	background-color:rgb(10, 10, 10);
	color:#DAA520;
	border-color:#DAA520;
	width:25%;
	text-align:center;
}
#dialog{
	color:#DAA520;
	background-color: rgb(10, 10, 10);
	border-color:#DAA520;
}
#createRoomDialog{
	margin-left:30%;
	margin-right:30%;
	margin-top:10%;
	color:#DAA520;
	border: 2px solid#DAA520;
  	border-radius: 4px;
	background-color:rgb(10, 10, 10);
	width:40%;
}
.ui-dialog-titlebar-ui-corner-all-ui-widget-header-ui-helper-clearfix-ui-draggable-handle{
	background-color:#DAA520;
	 color:rgb(10, 10, 10);
}
#sendButton {
	width:16%;
	display: inline-block;
	text-align: center;
	margin-top: 3%;
	color:#DAA520;
	border: 2px solid #DAA520;
  	border-radius: 4px;
	background-color:rgb(10, 10, 10);
}
#messagebox {
	width:82%;
	bottom:1px;
	display: inline-block;
	background-color:rgb(10, 10, 10);;
	margin-top: 3%;
	border: 2px solid #DAA520;
  	border-radius: 4px;
  	color:#DAA520;
}
::-webkit-input-placeholder { 
	color:#C0C0C0;
	text-align: center;
}
#chatbox {
	height: 300px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow:hidden;
	overflow-y:scroll;
	word-wrap:break-word;
	width:100%;
}
#title{
	width: 100%;
	text-align: center;
}
#roomList{
	list-style-type: none;
	overflow-y:scroll;
	color:#DAA520;
	padding:0;
	margin-top: 0;
}
.roomChanger{
	background-color: rgb(10, 10, 10);
	color:#DAA520;
	border: 2px solid #DAA520;
	width:100%;
}
#createRoomName {
	display: inline-block;
	background-color:rgb(10, 10, 10);;
	border: 2px solid #DAA520;
  	border-radius: 4px;
	  color:#DAA520;
	  width:70%;
}
div.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-draggable.ui-resizable{
	background-color:#DAA520;
}
div.ui-dialog-titlebar.ui-corner-all.ui-widget-header.ui-helper-clearfix.ui-draggable-handle{
	background-color:rgb(10, 10, 10);
	color:#DAA520;
}
