#room {
  	height: 200px;
	width:20%;
	border-style:solid;
	border-color:#CCCCCC;
	border-width:1px;
	float: left;
	margin-right: 20%; 

}
#users {
	height: 200px;
	width:20%;
	border-style:solid; 
	border-color:#CCCCCC;
	border-width:1px;
	float: left;
}
#sendMessage {
	width:15%;
	display: inline-block;
	
}
#messagebox {
	width:80%;
	top:300px;
	display: inline-block;
}

#chatbox {
	height:200px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow:hidden;
	overflow-y:scroll;
}