body{
	background-color: 	rgb(10, 10, 10);
	color:	#DAA520;
}
#tabs{
    margin-left:25%;
    margin-right:25%;
    background-color: 	rgb(10, 10, 10);
    color:	#DAA520;
    border: 2px solid #DAA520;
    border-radius: 4px;
}
li{
    height:25px;
    width: 46%;
    margin:0;
    padding:0;
    margin-top:-20px;
    padding:0;
}
a{
    width:99%;
    height: 99%;
    color:#DAA520;
    background-color:	rgb(10, 10, 10);
    margin:0;
    padding:0;
}
.av{
    background-color:#DAA520;
    color:	rgb(10, 10, 10);
}
#tabs ul {
    background-color:transparent;
    height:30px;
    margin-bottom:20px;
    padding:0;
    border:transparent;
}

 input[type=button]{
	width:20%;
	display: inline-block;
	text-align: center;
    margin-top: 5%;
    margin-left:40%;
	color:	#DAA520;
	border: 2px solid #DAA520;
  	border-radius: 4px;
	background-color: rgb(10, 10, 10);
}
input[type=text]{
    color:		#DAA520;
    border: 2px solid #DAA520;
  	border-radius: 4px;
    text-align: center;
    background-color: rgb(10, 10, 10);
    width:200px;
    height: 50px;
    margin-left:25%;
    margin-right:25%;
    text-align:center;
}
input[type=password]{
    color:		#DAA520;
    border: 2px solid #DAA520;
  	border-radius: 4px;
    text-align: center;
    background-color: rgb(10, 10, 10); 
    width:200px;
    height: 50px;
    margin-left:25%;
    margin-right:25%;
    text-align:center;
}
