body{
	background-color: 	rgb(10, 10, 10);
	color:	#DAA520;
}
#tabs{
    width:400px;
    margin-left:25%;
    margin-right:25%;
    background-color: 	rgb(10, 10, 10);
    color:	#DAA520;
    border: 2px solid #DAA520;
    border-radius: 4px;
}
a {
    color:#DAA520;
    background-color:	rgb(10, 10, 10);
}
.av{
    background-color:#DAA520;
   color:	rgb(10, 10, 10);
}
#tabs ul {
    background-color:rgb(10, 10, 10);
}
#dateSign{
    text-align:center;
}
 .class{
     width:200px;
    height: 50px;
     margin-left:25%;
     margin-right:25%;
     text-align:center;
 }

#sendLogin{
	width:20%;
	display: inline-block;
	text-align: center;
    margin-top: 5%;
    margin-left:40%;
	color:	#DAA520;
	border: 2px solid #DAA520;
  	border-radius: 4px;
	background-color: rgb(10, 10, 10);
}
#sendSign{
	width:20%;
	display: inline-block;
	text-align: center;
	margin-top: 5%;
	margin-left:40%;
	color:	#DAA520;
	border: 2px solid #DAA520;
  	border-radius: 4px;
	background-color: rgb(10, 10, 10);
}
input[type=text]{
    color:		#DAA520;
    border: 2px solid #DAA520;
  	border-radius: 4px;
    text-align: center;
    background-color: rgb(10, 10, 10); 
}
input[type=password]{
    color:		#DAA520;
    border: 2px solid #DAA520;
  	border-radius: 4px;
    text-align: center;
    background-color: rgb(10, 10, 10); 
}
